doctype html
html
    head
        include ../../doc/head.pug
        style.
            .demo-active.focus, 
            .demo-active.focus:hover {
                border-color: #66afe9;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            }
    body
        //- 示例
        div.row.mb20
            div.col-xs-6
                h3.fontsize-16 为 <code>input</code> 元素绑定日期选择器。
                input.form-control.w100(bx-name='components/datepickerwrapper' type='text')
                div.predefined
            div.col-xs-6
                h3.fontsize-16 为 <code>input</code> 元素绑定日期选择器，带有有初始值。
                input.form-control.w100(bx-name='components/datepickerwrapper' data-dates="['2017-1-1']" type='text')
                div.predefined
            div.col-xs-6
                h3.fontsize-16 为 <code>input</code> 元素绑定日期选择器，带有 2 个日历面板。
                input.form-control.w100(bx-name='components/datepickerwrapper' data-pages='2' type='text')
                div.predefined
            div.col-xs-6
                h3.fontsize-16 为 <code>input</code> 元素绑定日期选择器，带有 3 个日历面板。
                input.form-control.w100(bx-name='components/datepickerwrapper' data-pages='3' type='text')
                div.predefined
        div.row.mb20
            div.col-xs-6
                h3.fontsize-16 为任意元素绑定日期选择器。
                a(bx-name='components/datepickerwrapper' href='javascript:;') 请选择日期
                div.predefined
            div.col-xs-6
                h3.fontsize-16 自定义样式。
                a(bx-name='components/datepickerwrapper' href='javascript:;')
                    span(data-index='0') 请选择日期
                    i.brixfont.down &#xe623;<!--&#xe623;-->
                    i.brixfont.up &#xe62e;<!--&#xe62e;-->
                div.predefined
        div.row.mb20
            div.col-xs-6
                h3.fontsize-16 绑定 2 个日期选择器。
                div.form-control.datepickerwrapper-trigger(bx-name='components/datepickerwrapper' data-dates="['2017-1-1', '2017-1-2']")
                    span(data-index=0) -
                    span &nbsp;至&nbsp;
                    span(data-index=1) -
                    i.brixfont.pull-right.ml5.down  &#xe623;<!--&#xe623;-->
                    i.brixfont.pull-right.ml5.up    &#xe62e;<!--&#xe62e;-->
                div.predefined
            div.col-xs-6
                h3.fontsize-16 自定义快捷日期。
                div.form-control.w300(bx-name='components/datepickerwrapper' data-dates="['2017-1-1', '2017-1-2']" bx-options="{\
                        shortcuts: { '一期': ['2017-1-1 8:00:00', '2017-3-14 18:00:00'] }\
                    }")
                    span.mr7(data-index=0) 2017-1-1
                    span 至
                    span.ml7(data-index=1) 2017-1-2
                div.predefined
        div.row.mb20
            div.col-xs-6
                h3.fontsize-16 绑定 3 个日期选择器。
                div.form-control.w300(bx-name='components/datepickerwrapper' data-dates="['2017-1-1', '2017-1-2', '2017-1-3']")
                    span.mr7(data-index=0) 2017-1-1
                    span.mr7(data-index=1) 2017-1-2
                    span.mr7(data-index=2) 2017-1-3
                div.predefined
            div.col-xs-6
                h3.fontsize-16 自定义快捷日期。
                div.form-control.w300(bx-name='components/datepickerwrapper' data-dates="['2017-1-1', '2017-1-2', '2017-1-3']" bx-options="{\
                        shortcuts: { '一期':['2017-1-1', '2017-3-14', '2017-6-1'] }\
                    }")
                    span.mr7(data-index=0) 2017-1-1
                    span.mr7(data-index=1) 2017-1-2
                    span.mr7(data-index=2) 2017-1-3
                div.predefined
        div.row.mb20
            div.col-xs-6
                h3.fontsize-16 设置可选范围：最小日期（单个日期选择器）。
                input.form-control.w100(bx-name='components/datepickerwrapper' data-ranges="[[new Date(), '2017-3-14']]")
                input.form-control.w100(bx-name='components/datepickerwrapper' data-ranges="[['+=1', '+=9']]")
                div.predefined
            div.col-xs-6
                h3.fontsize-16 设置可选范围：最小日期（多个日期选择器）。
                div.form-control.w300(bx-name='components/datepickerwrapper' data-dates="['2017-1-1', '2017-1-2']" data-ranges="[['2017-1-1', '2017-3-14']]")
                    span.mr7(data-index=0) 2017-1-1
                    span 至
                    span.ml7(data-index=1) 2017-1-2
                div.form-control.w300(bx-name='components/datepickerwrapper' data-dates="['2017-1-1', '2017-1-2']" data-ranges="[['2017-1-1', '+=9']]")
                    span.mr7(data-index=0) 2017-1-1
                    span 至
                    span.ml7(data-index=1) 2017-1-2
                div.predefined
        div.row.mb20
            div.col-xs-6
                h3.fontsize-16 支持不限（单个日期选择器）。
                input.form-control.w100(bx-name='components/datepickerwrapper' data-unlimits="['2099-1-1']")
                input.form-control.w100(bx-name='components/datepickerwrapper' data-dates="['2099-1-1']" data-unlimits="['2099-1-1']")
                div.predefined
            div.col-xs-6
                h3.fontsize-16 支持不限（多个日期选择器）。
                div.form-control.w300(bx-name='components/datepickerwrapper' data-dates="['2017-1-1', '2017-1-2']" data-unlimits="[undefined, '2099-1-1']")
                    span.mr7(data-index=0) 2017-1-1
                    span 至
                    span.ml7(data-index=1) 2017-1-2
                div.form-control.w300(bx-name='components/datepickerwrapper' data-dates="['2017-1-1', '2099-1-1']" data-unlimits="[undefined, '2099-1-1']")
                    span.mr7(data-index=0) 2017-1-1
                    span 至
                    span.ml7(data-index=1) 不限
                div.predefined
        div.row.mb20
            div.col-xs-6
                h3.fontsize-16 单个日期选择器：自动触发 <code>input</code> 元素的 <code>change</code> 事件。
                input.form-control.w100(bx-name='components/datepickerwrapper' data-unlimits="['2099-1-1']" onchange="alert(this.value)")
                div.predefined
            div.col-xs-6
                h3.fontsize-16 单个日期选择器：自动同步至隐藏域，并触发隐藏域的 <code>change</code> 事件。
                a(href='javascript:;' bx-name='components/datepickerwrapper')
                    input(type='hidden' data-hidden-index='0' onchange='alert(this.value)')
                    span(data-index=0) 请选择日期
                div.predefined
        div.row.mb20
            div.col-xs-6
                h3.fontsize-16 多个日期选择器：自动同步至隐藏域，并触发隐藏域的 change 事件。
                div.form-control.w300(bx-name='components/datepickerwrapper' data-dates="[ '2017-1-1', '2017-1-2']")
                    span.mr7(data-index=0) 2017-1-1
                    span 至
                    span.ml7(data-index=1) 2017-1-2
                    input(type='hidden' data-hidden-index=0 onchange='alert(this.value)')
                    input(type='hidden' data-hidden-index=1 onchange='alert(this.value)')
                div.predefined
            div.col-xs-6
                h3.fontsize-16 对于不限，隐藏域的值是真实日期。
                div.form-control.w300(bx-name='components/datepickerwrapper' data-dates="['2017-1-1', '2017-1-2']" data-unlimits="[undefined, '2099-1-1']")
                    span.mr7(data-index=0) 2017-1-1
                    span 至
                    span.ml7(data-index=1) 2017-1-2
                    input(type='hidden' data-hidden-index=0 onchange='alert(this.value)')
                    input(type='hidden' data-hidden-index=1 onchange='alert(this.value)')
                div.predefined
        div.row.mb20
            div.col-xs-6
                h3.fontsize-16 事件 active、inactive。
                div.form-control.w100.cursor-pointer.demo-active(bx-name='components/datepickerwrapper')
                div.predefined
            div.col-xs-6
                h3.fontsize-16 事件 active、inactive。
                div.form-control.w300.cursor-pointer.demo-active(bx-name='components/datepickerwrapper' data-dates="['2017-1-1', '2017-1-2']")
                    span.mr7(data-index=0) 2017-1-1
                    span 至
                    span.ml7(data-index=1) 2017-1-2
                div.predefined
        div.row.mb20
            div.col-xs-6
                h3.fontsize-16 日期 + 时间
                input.form-control.w200(bx-name='components/datepickerwrapper' data-type="date time" data-dates="['2017-1-1 1:1:1']")
                div.predefined
            div.col-xs-6
                h3.fontsize-16 日期 + 时间（小时可修改，分钟和秒不可修改）
                input.form-control.w200(bx-name='components/datepickerwrapper' data-type="date hour" data-dates="['2017-1-1 1:1:1']")
                div.predefined
        div.row.mb20
            div.col-xs-6
                h3.fontsize-16 多个日期 + 时间
                input.form-control.w300(bx-name='components/datepickerwrapper' data-type="date time" data-dates="['2017-1-1 1:1:1', '2016-1-1 1:1:1']")
                div.predefined
            div.col-xs-6
                h3.fontsize-16 多个日期 + 时间（小时可修改，分钟和秒不可修改）
                input.form-control.w300(bx-name='components/datepickerwrapper' data-type="date hour" data-dates="['2017-1-1 1:1:1', '2016-1-1 1:1:1']")
                div.predefined
        div.row.mb20
            div.col-xs-6
                h3.fontsize-16 位于下方 + 左侧对齐（默认）
                input.form-control.w300(bx-name='components/datepickerwrapper' data-dates="['2017-1-1', '2016-1-1']" data-align="left")
                div.predefined
            div.col-xs-6
                h3.fontsize-16 位于下方 + 右侧对齐
                input.form-control.w300(bx-name='components/datepickerwrapper' data-dates="['2017-1-1', '2016-1-1']" data-align="right")
                div.predefined
        div.row.mb20
            div.col-xs-6
                h3.fontsize-16 位于下方 + 左侧对齐 子日历左右对齐
                input.form-control.w300(bx-name='components/datepickerwrapper' data-dates="['2017-1-1', '2016-1-1']" data-align="left" data-aligns="['left','right']")
                div.predefined
            div.col-xs-6
                h3.fontsize-16 位于下方 + 右侧对齐 子日历右左对齐
                input.form-control.w300(bx-name='components/datepickerwrapper' data-dates="['2017-1-1', '2016-1-1']" data-align="right" data-aligns="['right','left']")
                div.predefined
        //- 启动
        include ../../doc/boot.pug
        script.
            require(['brix/loader', 'jquery'], function(Loader, $) {
                Loader.boot(function() {
                    var pattern = 'YYYY-MM-DD HH:mm:ss.SSS'
                    var instances = Loader.query('components/datepickerwrapper')
                    instances.on('change.datepickerwrapper', function(event, dates, type){
                        console.log(event.type, event.namespace, dates.map(date => date.format(pattern)))
                    })
                })
            })
            require(['brix/loader', 'jquery', 'underscore'], function(Loader, $, _) {
                Loader.boot(function() {
                    var target = $('.demo-active')
                    var targetInstances = Loader.query(target)
                    _.each(targetInstances, function(instance){
                        instance.on('active.datepickerwrapper', function(event) {
                            $(instance.element).addClass('focus')
                            console.log(event.type, event.namespace, instance.element)
                        })
                        instance.on('inactive.datepickerwrapper', function(event) {
                            $(instance.element).removeClass('focus')
                            console.log(event.type, event.namespace, instance.element)
                        })
                    })
                })
            })
