doctype html
html
    head
        include ../../doc/head.pug
    body
        //- 示例
        div.row.mb40
            div.col-xs-6
                h3.fontsize-16 默认
                div(bx-name='components/spin')
        div.row
            div.col-xs-6.mb40
                h3.fontsize-16 <code>data-type="rotating-plane"</code>
                div(bx-name='components/spin' data-type='rotating-plane')
            div.col-xs-6.mb40
                h3.fontsize-16 <code>data-type="double-bounce"</code>
                div(bx-name='components/spin' data-type='double-bounce')
            div.col-xs-6.mb40
                h3.fontsize-16 <code>data-type="rectangle-bounce"</code>
                div(bx-name='components/spin' data-type='rectangle-bounce')
            div.col-xs-6.mb40
                h3.fontsize-16 <code>data-type="wandering-cubes"</code>
                div(bx-name='components/spin' data-type='wandering-cubes')
            div.col-xs-6.mb40
                h3.fontsize-16 <code>data-type="pulse"</code>
                div(bx-name='components/spin' data-type='pulse')
            div.col-xs-6.mb40
                h3.fontsize-16 <code>data-type="chasing-dots"</code>
                div(bx-name='components/spin' data-type='chasing-dots')
            div.col-xs-6.mb40
                h3.fontsize-16 <code>data-type="three-bounce"</code>
                div(bx-name='components/spin' data-type='three-bounce')
            div.col-xs-6.mb40
                h3.fontsize-16 <code>data-type="circle-spinner"</code>
                div(bx-name='components/spin' data-type='circle-spinner')
        //- 启动
        include ../../doc/boot.pug
        script.
            require(['brix/loader', 'jquery'], function(Loader, $) {
                Loader.boot(function() {
                    var instances = Loader.query('components/spin')
                })
            })
