script.
    require(['components/readme'], function(Readme) {
        // var readme = new Readme()
        // readme.trimHTML(document.body)
        // readme.trimPredefined(document.body)
    })
    require(['brix/loader', 'jquery', 'highlightjs'], function(Loader, $, hljs) {
        window.Loader = Loader
        Loader.boot(function() {
            $('iframe', top.document).height(
            	$(document.body).outerHeight() + 270
        	)
            $(document.body).find('pre code').each(function(index, code) {
                hljs.highlightBlock(code)
            })
        })
    })