doctype html
html
    head
        include ../../doc/head.pug
    body
        //- 示例
        div
            h3.fontsize-16 完整模式。
            div(bx-name='components/hourpicker')
            div.predefined
        div
            h3.fontsize-16 精简模式。
            div(bx-name='components/hourpicker' data-simplify='true')
            div.predefined
        //- 启动
        include ../../doc/boot.pug
        script.
            require(['brix/loader', 'jquery'], function(Loader, $) {
                Loader.boot(function() {
                    var instances = Loader.query('components/hourpicker')
                    instances.on('change.hourpicker', function(event, extra) {
                        if (event.namespace !== 'hourpicker') return
                        console.log(event.type, event.namespace)
                        console.table(extra)
                    })
                })
            })
