doctype html
html
    head
        include ../../doc/head.pug
    body
        //- 示例
        div
            h3.fontsize-16 完整模式。
            <div bx-name="components/hourpicker"></div>
        div
            h3.fontsize-16 精简模式。
            <div bx-name="components/hourpicker" data-simplify="true"></div>
        //- 启动
        script.
            require(['brix/loader', 'jquery', 'highlightjs'], function(Loader, $, hljs) {
                window.Loader = Loader
                Loader.boot(function() {
                    $('iframe', top.document).height($(document.body).outerHeight())
                    $(document.body).find('pre code').each(function(index, code) {
                        hljs.highlightBlock(code)
                    })
                    var instances = Loader.query('components/hourpicker')
                    instances.on('change.hourpicker', function(event, extra) {
                        if (event.namespace !== 'hourpicker') return
                        console.log(event.type, event.namespace)
                        console.table(extra)
                    })
                })
            })
