.suggest {
  position: relative;
  display: inline-block;
}
.suggest .dropdown-menu {
  display: block;
}
.suggest .dropdown-menu .highlight {
  background-color: yellow;
}
.suggest .dropdown-menu .active .highlight {
  color: #000;
}
