doctype html
html
    head
        include ../../doc/head.pug
    body
        //- 示例
        div
            input.form-control(bx-name='components/suggest')
        //- 启动
        include ../../doc/boot.pug
        script.
            require(['brix/loader', 'jquery', 'underscore', 'mock'], function(Loader, $, _, Mock) {
                Loader.boot(function() {
                    var data = Mock.mock({
                        'list|5-10': ['@NAME', '@NATURAL(1,1000000)', '@CWORD']
                    }).list
                    var instances = Loader.query('components/suggest')
                    instances.on('change.suggest.input', function(event, value) {
                        instances.data(
                            _.filter(data, function(item, index){
                                return ('' + item).toLowerCase().indexOf(value.toLowerCase()) !== -1
                            })
                        )
                    })
                    instances.on('change.suggest.done', function(event, value) {
                        console.log(event.type, event.namespace, value)    
                    })
                })
            })
